Django==1.10.5
Pillow==2.2.1
PySimpleSOAP==1.05a
Werkzeug==0.8.3
django-extensions==1.6.7
django-orderable-inlines==0.0.6
httplib2==0.7.5
wsgiref==0.1.2
unidecode==0.04.13
django-jsonview==1.0.0
celery<4.0.0
django-celery==3.1.17
ladon==0.8.9
django-discover-runner==1.0
liac-arff==2.0.1
networkx==1.9.1
djangorestframework==3.4.0
django-filter==0.13
django-cors-headers==1.1.0
drfdocs==0.0.11
channels==1.0.3
daphne==1.0.2
