Django==1.11.28
django-debug-toolbar==1.11
pytz==2019.3
Pillow==8.2.0
PySimpleSOAP==1.16.2
django-extensions==1.6.7
httplib2==0.7.5
django-jsonview==1.0.0
celery==3.1.26.post2
kombu==3.0.37
billiard==3.3.0.23
amqp==1.4.9
django-celery==3.1.17
ladon==0.8.9
django-discover-runner==1.0.0
liac-arff
networkx==1.9.1
djangorestframework==3.4.0
django-filter==1.0.4
django-cors-headers==1.1.0
drfdocs==0.0.11
channels==1.1.8
djoser==1.1.5
asgi-redis==1.4.3
django-environ==0.4.5
numpy==1.17.4
ipython
redis==2.10.6
gunicorn==20.0.4
sentry-sdk==0.14.2

